/* css var */

:root{
     --fm: 'Raleway', sans-serif;  
     --fm-roboto: 'roboto', sans-serif;  /*  */
     --fm-thin:100;  /*  */
     --fm-light: 300;  /*  */
     --fm-regular: 400;  /*  */
     --fm-bold: 700;  /*  */
     --green-75: rgb(105, 207,23, 0.75);  /*  */
     --green-90: rgb(105, 207,23, 0.80);  /*  */
     --green: #69cf17;  /*  */
     --green-1: #4e9f0d;  /*  */
     --green-2: #62be19;  /*  */
     --white: #fff;  /*  */
     --white-g: #dedede;  /*  */
    --grey: #7a7a7a;  /* section ning link u n */
    --dark: #060606;  /* body uchun */

    --col-1: calc(100%/12*1);
    --col-2: calc(100%/12*2);
    --col-3: calc(100%/12*3);
    --col-4: calc(100%/12*4);
    --col-5: calc(100%/12*5);
    --col-6: calc(100%/12*6);
    --col-7: calc(100%/12*7);
    --col-8: calc(100%/12*8);
    --col-9: calc(100%/12*9);
    --col-10: calc(100%/12*10);
    --col-11: calc(100%/12*11);
    --col-12: calc(100%/12*12);
}

/* end var */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: var(--fm);
    background: var(--dark);
}

.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4{
    width: var(--col-4);
    padding: 0 15px;
}

.col-12{
    width: var(--col-12);
    padding: 0 15px;
}

/* justify */

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;

}

.justify-content-star{
    justify-content: flex-start;
}

/* algn item */

.align-item-center{
    align-items:center;
}

.flex-direction-colum{
    flex-direction: column;
}

.align-item-star{
    align-items: flex-start;
}

/* header stating */

header{
    width: 100%;
    height: 770px;
    background: url('../img/bg.png') no-repeat center center / cover;
}

.logo{
    color: var(--white);
    outline-style: 24px;
    font-weight: var(--fm-bold);
    text-transform: uppercase;
    background: var(--green-1);
    padding: 11px 22px;
    border: solid 3px var(--green-2);
    border-radius: 5px;
    line-height: 17px;
}

header nav ul li a.active{
    padding: 37px 11px 29px;
    background: var(--green-75);
    color: var(--white);
}

header nav ul li a.active span{
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 50%;
    background: var(--white);
    color: var(--green);
    align-items: center;
    margin-left: 7px;
    text-align: center;
}

header nav ul li a{
    color: var(--green);
    font-weight: var(--fm-regular);
    font-size: 21px;
    padding: 37px 26px 29px 26px;
    display: flex;
}

header h1{
    color: var(--green);
    font-size: 72px;
    font-weight: var(--fm-regular);
    text-transform: uppercase;
    margin-top: 150px;
}

header p:first-of-type{
    color: var(--green);
    font-size: 36px;
    font-weight: var(--fm-reguar)
}

header p:nth-of-type(2){
    color: var(--white-g);
    font-size: 18px;
    font-weight: var(--fm-reguar);
    margin: 30px 0 70px;
    line-height: 24px;
}
header .header_price{
    padding: 26px 90px;
    background: var(--green-75);
    color: var(--white);
    font-size: 60px;
    font-weight: var(--fm-thin);
    font-family: var(--fm);
}

/* main */

main .col-4{
    margin-bottom: 70px;
}
main ul{
    margin: 50px 0 69px !important;
}

main ul li{
    margin-right: 50px;
}

main ul li a{
    color: var(--grey);
    font-size: 20px;
    font-weight: var(--fm-regular);
    transition: 0.5s;
}

main ul li a.active,
main ul li a:hover{
    color: var(--green);
}

main .section_img{
    width: 100%;
    height: 350px;
    position: relative;

}

main .section_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .section_img .price{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s;
}

main .section_img .price span{
    padding: 20px 60px;
    color: var(--white);
    background: var(--green-75);
    display: block;
    font-size: 24px;
    font-weight: var(--fm-regular);

}

main .section_img .btn{
    width: 100%;
    height: 100%;
    background: var(--green-90);
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    font-size: 24px;
    font-weight: var(--fm-regular);
    opacity: 0;
    transition: 500ms;
    cursor: pointer;
}

main .section_img:hover .btn {
    opacity: 1;
}

main .section_img:hover .price{
    opacity: 0;
}
main section h2{
    color: var(--green);
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0 15px;
}

main section p{
    color: var(--white-g);
    font-size: 16px;
    font-weight: var(--fm-regular);
    line-height: 24px;
}

/* section */

.section{
    width: 100%;
    height: 560px;
    background: url('../img/section_bg.png') no-repeat center center / cover;   
}

.section h2{
    color: var(--green);
    font-size: 36px;
    font-weight: var(--fm-regular);
    text-transform: uppercase;
    margin: 50px 0;
    
    
}

.section h2::after{
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: var(--green);
    margin: 20px auto 0;
}

.section p{
    color: var(--white-g);
    font-size: 18px;
    font-weight: var(--fm-regular);
    line-height: 24px;
}

.section p:last-of-type{
    margin-top: 30px;
}

/*  map */

.map h2{
    padding: 50px 0;
    background: var(--white);
    text-align: center;
    color: var(--green);
    font-size: 36px;
    font-weight: var(--fm-regular);
}
.map .map_1{
    width: 100%;
    height: 505px;
    background: url('../img/map_frame.png') no-repeat center center / cover;
}

/* footer */

footer .footer_info{
    padding-top: 40px;
}

footer .phone{
    color: var(--green);
    font-size: 24px;
    font-weight: var(--fm-regular);
}

footer ul li{
    margin: 50px 28px 40px;
}

footer ul li a{
    color: var(--white);
    font-size: 18px;
    font-weight: var(--fm-regular);
}

footer p{
    color: var(--white);
    font-size: 16px;
    font-weight: var(--fm-regular);
    margin-bottom: 50px;
    text-align: center;
}